#wrapper {
    display:grid;
    padding: 10px;
    grid-template-columns: 104px 992px 104px;
    grid-template-rows: 95px 327px 125px 918px 139px ;
}  
#ocolumn {
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: rgba(166, 16, 43, 0.50);
}
#tcolumn{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 1/4;
    grid-row: 1/4;
  background-color: rgba(37, 88, 190, 0.50);
}
#thrcolumn{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 3/4;
    grid-row: 1/6;
    background-color: rgba(25, 225, 75, 0.50);
}
#orow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgba(67, 13, 13, 0.50);
}
#trow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: rgba(150, 174, 141, 0.70);
}
#thrrow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: rgba(189, 224, 75, 0.50);
  grid-template-columns: 247px 117px 249px 132px 246px;
  grid-template-rows: 227px 244px 230px 160px 182px;
  display: grid;
  padding: 10px;
}


#firow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-row: 5/6;
  grid-column: 1/4;
  background-color: rgba(193, 32, 164, .50);
}

#oshape{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 229px;
  width: 249px;
  background-color: rgba(14, 1, 107, .50);
  grid-row: 1/2;
  grid-column: 1/2;
}
#tshape{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 249px;
  background-color: rgba(80, 1, 90, .50);
  grid-row: 1/2;
  grid-column: 3/4;


}
#thrshape{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 215px;
  background-color: rgba(113, 109, 5, .50);
  grid-row: 1/2;
  grid-column: 5/6;

}
#fshape{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 249px;
  background-color: rgba(0, 205, 246, .50);
  grid-row: 3/4;
  grid-column: 1/2;

}
#fishape{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 393px;
  width: 345px;
  background-color: rgba(0, 169, 56, .50);
  grid-row: 3/4;
  grid-column: 4/6;

 
}