#wrapper {
    display:grid;
    padding: 10px;
    grid-template-columns: 104px 992px 104px;
    grid-template-rows: 95px 327px 125px 918px 139px ;
}  
#ocolumn {
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: rgba(166, 16, 43, 0.00);
}
#tcolumn{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 1/4;
    grid-row: 1/4;
  background-color: rgba(37, 88, 190, 0.50);
  background-image: url("Prehistoric.jpg");
  background-size: cover;
  background-position: left;
  height: 525px;
  width: 1178px;
}
#thrcolumn{
    border: 1px solid rgba(0, 0, 0, 0.565);
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-column: 3/4;
    grid-row: 1/6;
}
#orow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgba(255, 255, 255, 0.5);
    grid-template-columns: 114px 116px 68px 97px 165px 164px 167px 267px;
    grid-template-rows: 63px 20px;
    display: grid;
}
#trow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: rgba(150, 174, 141, 0.70);
}
#thrrow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: rgba(110, 157, 119, 0.83);
  grid-template-columns: 275px 63px 275px 80px 235px;
  grid-template-rows: 255px 244px 253px 160px 118px;
  display: grid;
  padding: 10px;
}


#firow{
    border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-row: 5/6;
  grid-column: 1/4;
  background-color: rgba(13, 96, 30, 100);
}

#oshape{
    border: 4px solid rgba(195, 189, 114, 1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 229px;
  width: 249px;
  background-color: rgba(14, 1, 107, .50);
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("trex.jpeg");
  background-size: cover;
  background-position: center;
}
#tshape{
    border: 4px solid rgba(195, 189, 114, 1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 249px;
  background-color: rgba(80, 1, 90, .50);
  grid-row: 1/2;
  grid-column: 3/4;
   background-image: url("deinocheirus-stock-photo_fb224250-dd71-4f58-9123-545b138c2ed6.jpg");
  background-size: cover;
  background-position: center;


}
#thrshape{
    border: 4px solid rgba(195, 189, 114, 1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 206px;
  background-color: rgba(113, 109, 5, .50);
  grid-row: 1/2;
  grid-column: 5/6;
   background-image: url("Spinosaurus.jpeg");
  background-size: cover;
  background-position: center;

}
#fshape{
    border: 4px solid rgba(195, 189, 114, 1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 227px;
  width: 249px;
  background-color: rgba(0, 205, 246, .50);
  grid-row: 3/4;
  grid-column: 1/2;
   background-image: url("Brachiosaurus.jpeg");
  background-size: cover;
  background-position: center;

}
#fishape{
    border: 4px solid rgba(195, 189, 114, 1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 393px;
  width: 339px;
  background-color: rgba(0, 169, 56, .50);
  grid-row: 3/4;
  grid-column: 4/6;
   background-image: url("Fossil.jpeg");
  background-size: cover;
  background-position: center;

 
}
#s{
  grid-column:2/3 ;
  grid-row:1/4 ;
  background-image: url("download.png");
  background-size: cover;
  background-position: center;
}
#h{
  grid-column: 3/4;
  grid-row: 1;
  text-align: center;
  font-size: 24px;
  text-decoration: underline rgba(195, 189, 114, 1) 5px;
  
  
  
}
#a{
    grid-column: 4/5;
  grid-row: 1;
  text-align: center;
  font-size: 24px;
 
}
#c{
      grid-column: 5/6;
  grid-row: 1;
  text-align: center;
  font-size: 24px;
  
}
#o{
      grid-column: 6/7;
  grid-row: 1;
  text-align: center;
  font-size: 24px;
  
}
#p{
      grid-column: 7/8;
  grid-row: 1;
  text-align: center;
  font-size: 24px;
  
}
#he{
      grid-column: 8/9;
  grid-row: 1;
  text-align: left;
  font-size: 24px;
  color: rgba(217, 105, 26, 1);
}
#Tr{
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 21px;
}
#De{
  grid-row: 2/3;
  grid-column: 3/4;
  font-size: 21px;
}
#Sp{
  grid-row: 2/3;
  grid-column: 5/6;
  font-size: 20px;
}
#Br{
  grid-row: 4/5;
  grid-column: 1/2;
  font-size: 21px;
}
#Fo{
  grid-row: 3/4;
  grid-column: 3/4;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 -webkit-text-stroke: 1px rgba(217, 105, 26, 1);
}