body{
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-attachment: fixed;
}

header{ 
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{ 
    line-height: 140%;
    padding: .5rem;
    background-image:url("utahtechlogo.svg");
    background-position: right;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
    background-repeat: no-repeat;
}

nav {
    background-color: #f3f3f3;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 2rem;
}

h2 {
    color:#424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
dt {
    color:#003058;
    font-weight:bold;
}

.ut { 
    color:#BA1C21;
    font-weight:bold;
}
footer {
    font-size-adjust: .70rem;
    color:#003058;
    text-align:center;
    font-weight:bold;
    padding: 1rem;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px, 3px, 3px, rgba(66,66,66,0.3);
}
#homehero {
    background-image: url("homehero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
#studenthero {
    background-image: url("studenthero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
#facultyhero {
    background-image: url("facultyhero.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
h3 {
    color:#003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}
nav a { 
    text-decoration: none; 
}